In [1]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('data/titanic_processed.csv')
titanic_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  Embarked_S
0         0       3    1  15.0      1      1   7.2292           0           0
1         0       3    1  22.0      0      0   7.2500           0           1
2         0       2    1  18.0      0      0  13.0000           0           1
3         1       2    0  18.0      0      1  23.0000           0           1
4         0       3    1  20.0      0      0   7.8542           0           1

In [7]:
titanic_df.shape

(712, 9)

In [14]:
from sklearn.model_selection import train_test_split

x = titanic_df.drop('Survived', axis = 1)
y = titanic_df['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [15]:
x_train.shape, y_train.shape

((569, 8), (569,))

In [16]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(penalty = 'l2', C = 1.0, solver = 'liblinear').fit(x_train, y_train)

In [17]:
y_pred = logistic_model.predict(x_test)

In [19]:
pred_results = pd.DataFrame({'y_test' : y_test,
                             'y_pred' : y_pred
                             })
pred_results.head()

     y_test  y_pred
597       1       1
409       1       0
510       0       0
107       0       0
12        1       1

In [20]:
titanic_crosstab = pd.crosstab(pred_results.y_test, pred_results.y_pred)
titanic_crosstab.head()

y_pred   0   1
y_test
0       64  12
1       18  49

In [21]:
from sklearn.metrics import precision_score, accuracy_score, recall_score

In [23]:
acc = accuracy_score(y_test,y_pred)
prec = precision_score(y_test,y_pred)
recall = recall_score(y_test,y_pred)

print('accuracy: ', acc)
print('precision: ', prec)
print('recall: ', recall)

accuracy:  0.7902097902097902
precision:  0.8032786885245902
recall:  0.7313432835820896

In [24]:
TP = titanic_crosstab[1][1]
TN = titanic_crosstab[0][0]
FP = titanic_crosstab[0][1]
FN = titanic_crosstab[1][0]

In [25]:
accuracy_verified = (TP + TN ) / ( TP+ TN + FP + FN)
accuracy_verified

0.7902097902097902

In [26]:
precision_score_survived = TP / (TP + FP)
precision_score_survived

0.7313432835820896